body, html {
  margin: 0px;
  padding: 1px;
  background-color: #fff;
  background-image: url(floral-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.banner {
  /* background-color: grey; */
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid purple;
  margin-bottom: 20px;
}

.banner h1 {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  margin: 0px;
  padding: 10px;
  color: purple;
  letter-spacing: 1px;
}

.pasteBox {
  min-height:500px;
  min-width:300px;
}

.inputColumn {
  padding: 10px;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  border-right: 1px solid purple;
  letter-spacing: 1px;
}

.outputColumn {
  padding: 50px 50px 50px 50px;
  font-family: 'Shadows Into Light', cursive;
}

table {
  font-size: 32px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 1px solid #dadada;
  padding: 5px 10px 5px 10px;
}

tr:nth-child(odd) {
  background-color: #fbfaf7;
}

.ratingTableHead {
  text-align:center;
  font-weight: bold;
}

.rating{
 text-align: center;
}

.good {
  color: green;
}

.poor {
  color: red;
}

.best {
  color: purple;
}

.average {
  color: black;
}

.unknown {
  color: gray;
}
